# Advanced Dataframes

What is advanced dataframes? 
- Part 1: how to create dataframes
- Part 2: manipulate the dataframes
- Part 3: transform the dataframes

Why do we care? 
- Now that we understand more about what a dataframe is, these tools will allow us to wrangle our dataframes to get the data we need!

## Part 1 - Creating Dataframes
- from lists
- from dictionaries
- from sql

In [ ]:
#standard imports

format: `pd.DataFrame(data)`

### From lists

In [ ]:
#build a list

In [ ]:
#pd.DataFrame(data)

In [ ]:
#build a matrix (list of lists)

In [ ]:
#pd.DataFrame(data)

In [ ]:
#define column names

In [ ]:
#definte column names when creating df

In [ ]:
#make the matrix an array

In [ ]:
#pd.DataFrame(data)

### From dictionaries

In [ ]:
#create a dictionary with a list as keys
#dictionary format: {key:value}

In [ ]:
#create df!

#### make it more complex

In [ ]:
#setting random seed

In [ ]:
# Create list of values for names column
students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']
students

In [ ]:
# Randomly generate arrays of scores for each student for each subject.
# Note that all the values need to have the same length here.
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

In [ ]:
# Randomly generate if a student is in classroom A or classroom B
classroom = np.random.choice(['A', 'B'], len(students))

In [ ]:
#combine all values into a dictionary

In [ ]:
#create df!

### From SQL

We can connect to sql to create a dataframe!! yay!

To do this we will use a driver to connect the database to our python code using pymysql driver packages

<div class="alert alert-block alert-info">
    Do this in the command line
</div>

`python -m pip install pymysql`

Now that this is installed, we will create a **CONNECTION STRING**

This is a what a **CONNECTION STRING** looks like:

`[protocol]://[user]:[password]@[host]/[database_name]`

Example:

- protocol = 'mysql+pymysql'
- user = 'codeup'
- password = 'p@assw0rd'
- host = '123.123.123.123'
- database_name = 'some_db'

In [ ]:
#example

- This **CONNECTION STRING** is unique to this example user
- You will each make a unique **CONNECTION STRING** with your credentials

<div class="alert alert-block alert-warning">
    Should you type your username and password in your .py or .ipynb?
</div>

answer: 

<div class="alert alert-block alert-danger">
    NO! 
</div>

# Q: Why not?

How to avoid this?

1. Create a separate file called env.py
2. Enter in your credentials
3. Put your env.py in the same folder as your working file
4. Import your env
5. Create your connection string from imported variables

<div class="alert alert-block alert-warning">
    Should you push your env.py file to github?
</div>

answer: 
<div class="alert alert-block alert-danger">
     NO! 
</div>

# Q: Why not?

In [ ]:
#get my credentials

In [ ]:
#pull in the hostname

In [ ]:
#pull in the username

In [ ]:
#pull in the password

<div class="alert alert-block alert-warning">
    Should you leave your username and password printed out on your .ipynb?
</div>

answer:

<div class="alert alert-block alert-danger">
    NO! 
</div>

# Q: Why not?

lets create our **CONNECTION STRING** saved into a variable called url

In [ ]:
#create connection string
url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/some_db'

<div class="alert alert-block alert-warning">
    Should you print out on your connection string?
</div>

answer:

<div class="alert alert-block alert-danger">
    NO! 
</div>

# Q: Why not?

Now that we have created our **CONNECTION STRING**, we can connect to SQL

#### Let's connect to the employees database and pull the first 5 rows

format: `pd.read_sql('literal sql syntax to pull query', connection_string)`

In [ ]:
# url

Q: What do you notice about our current connection string?

In [ ]:
#url

In [ ]:
#connect to sql and pull query into df

#### I like my sql querys formatted with line breaks

#### Let's make a bigger query:

- I want a dataframe with emp_no, first_name, last_name, and dept_name
- I want it only for women and their current department
- Only pull back the first 10 employees

In [ ]:
#query

In [ ]:
#connect to sql and pull query into df

# Don't push your passwords!

Note: 
- host = 'data.codeup.com'
- your personal username and password are saved in the google classroom under cloud credentials