# Advanced Dataframes

## Part 3 - Reshaping
- crosstab
- pivot_table

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(123)

In [ ]:
# Create list of values for names column.
students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# Randomly generate arrays of scores for each student for each subject.
# Note that all the values need to have the same length here.
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

# Randomly generate if a student is in classroom A or classroom B
classroom = np.random.choice(['A1', 'B1'], len(students))

df = pd.DataFrame({'name':students,
                   'math':math_grades,
                   'reading':reading_grades,
                   'english':english_grades,
                   'room':classroom})

#calculated overall grade and letter
df['overall_grade'] = df[['math','reading','english']].mean(axis=1).round(1)

#np.where(condition, output if true, output if false)
df['overall_letter'] = np.where(df.overall_grade >= 90, 'A', 
                                np.where(df.overall_grade >= 80, 'B','C'))

df

## Using `.crosstab`
COUNT the number of occurances between each subgroup
- format: `pd.crosstab(index=_, column=_)`

#### find all counts of the room and overall letter grade

#### add total counts

In [ ]:
#margins argument

#### give percentages instead of counts

In [ ]:
#normalize argument

### Using `.pivot_table`

creates a summary table similar to excel pivot table 

need to include 3 of the following:
- which values will make up the rows (the index)
- which values will make up the columns
- the values we are aggregating
- an aggregation method (aggfunc); if we can omit this, and mean will be used by default

format: `pd.pivot_table(data=_, index=_, columns=_, values=_, aggfunc=_)`

#### show the average math grade by overall letter grade and room

#### show the MAX math grade by overall letter grade and room

> NOTE: `index` and `columns` should be categorical values, and `values` should be numeric

In [ ]:
#not what we want

### Using `.map`

Use a dictionary to assign new values based on current values
1. create a dictionary of new values based on old
2. use map to apply it to df

- format: `.map({'old_value':'new_value'})`

#### create new df of restuarant data

In [ ]:
n = 40

df = pd.DataFrame({
    'drink': np.random.choice(['Tea', 'Water', 'Water'], n),
    
    'meal': np.random.choice(['Curry', 'Yakisoba Noodle', 'Pad Thai'], n),
})

df.sample(10)

#### what are all unique drink & meal values

#### create dictionary of prices for all current items

In [ ]:
#dictionary format: {key:value}
{
    'Yakisoba Noodle': 9,
    'Curry': 11,
    'Pad Thai': 10,
    'Tea': 2,
    'Water': 0,
}

#### map drink prices and meal prices to create bill
- bill will include price of both

#### how many orders of each combination of meal and drink are there?

#### what percentage of each?

#### whats the average bill for each combination?

#### we can also get this by using a groupby