# Matplotlib - Visualization with Python

What is it?
- Comprehensive plotting library for python

Why do we care? 
- Because visuals are often incrediably helpful for digesting data
- matplotlib allows for more customization than .plot

Today: 
- discussing following types of charts
    - Lineplot
    - Scatter plot
    - Histograms
- when to use each one
- how to customize them
- object-oriented approach

More knowledge: Gallery of plots
https://matplotlib.org/3.3.3/gallery/index.html

## Import

- `matplotlib.pyplot` is a collection of functions that make matplotlib work like MATLAB
- `plt` is the standard alias for matplotlib

## Line plot

- used for continuous values
- generally is showing some type of trend over time (does not jump around on the x-axis)

- format: `.plot()`

### Single line with one input

In [27]:
x = [2,3,4,5]

> Q: what are the y-values of our plot? 

> A: 

> Q: what are the x-values of our plot?

> A:

In [7]:
x = range(100)

### Single line with x & y defined

In [8]:
x = range(50)
y = range(50,100)

### Multiple lines

In [9]:
x1 = [1,2,3,4]
y1 = [5,8,2,10]

x2 = [1.5,2.5,3.5,4.5]
y2 = [10,8,9,4]

## Scatterplot

- used for continuous values
- is generally used for showing a relationship between two values
- always need x and y coordinates
- format: `.scatter()`

### One set of data

In [10]:
from random import randint

In [11]:
x = [randint(-5, 55) + n for n in range(150)]
y = range(len(x))

> Q: what happens if we try to use a line plot to visualize this data?

### Two sets of data

In [17]:
x1 = [randint(-5, 35) + n for n in range(150)]
y1 = range(len(x1))

x2 = [randint(-30, 50) + n for n in range(150)]
y2 = range(len(x2))

## Histogram

- typically used for continuous values
- shows the distribution of values for a single column by creating bins
- format: `.hist()`

In [20]:
from pydataset import data

In [21]:
df = data('Mammals')
df.head()

   weight  speed  hoppers  specials
1  6000.0   35.0    False     False
2  4000.0   26.0    False     False
3  3000.0   25.0    False     False
4  1400.0   45.0    False     False
5   400.0   70.0    False     False

In [29]:
#compare to value_counts

#### histogram on a categorical value?

# FORMATTING!!!!!!!!

## Example 1

In [41]:
from random import randint

x1 = range(10)
y1 = [randint(0,10) + j for j in x1]

x2 = list(range(10))
y2 = [randint(0,10) + j for j in x2]

x3 = [0,1,2,3,4,5,6,7,8,9]
y3 = [randint(0,10) + k for k in x3]

#### add 1 to each value in y3

### Basic plot of all lines

### Custom ticks

- `.xticks()`
- `.yticks()`

### Markers & line styles

- `plot(marker=, ls=)`

### Figure size & Subplots

- subplots lets us build multiple little plots inside one plot frame
- `.subplot([number_of_rows][number_of_columns][plot_number])`


- change the size of the whole overall plot
- `.figure(figsize=())`

### Add limits

- `.xlim()`
- `.ylim()`

### Remove subplots

### Add text, lines, & arrows!!

- `.text`: add text to the plot
- `.hlines`: add horizontal line
- `.vlines`: add vertical line
- `.annotate`: makes arrows

## Example 2

data obtained from: https://www.kaggle.com/datasets/teertha/ushealthinsurancedataset

In [58]:
import pandas as pd

In [59]:
df = pd.read_csv('insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

### Basic plot

#### plot: bmi vs charges

Q: what kind of variable is bmi?
- A: 

Q: what kind of variable is charges?
- A:

Q: what kind of plot do we want to use to compare these two variables?
- A:

### Basic plot - two sets of data

#### plot: bmi vs charges for smoker and non-smoker

Q: what kind of variable is smoker?
- A:

In [64]:
#make two subset dfs

### Color

- list of colors in matplotlib: https://matplotlib.org/stable/gallery/color/named_colors.html

### Transparency

### Size & Shape

### Finalize

Q: What is our current plot showing?

- A:

- `.title`: sets the title of the plot
- `.xlabel`: sets the label of the xaxis
- `.ylabel`: sets the label of the yaxis
- `.legend`: creates a legend

### Save Figure

- defaults to .png
- `.savefig('my_design')`

## Object Oriented Approach

- creating objects (variables) and then manipulating them

In [70]:
x = range(5)
y = [2,1.1,7,-2,10]